@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');

body {
    background-color: #1A3263;
    color: #E8E2DB;
    font-family: 'Gelasio', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 15vh;
    min-height: 100vh;
    margin: 0;
}

.change-container {
    font-size: 2rem;
    margin-bottom: 20px;
}

.text-container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-bottom: 12px;

}

.input-container {
    display: flex;
    width: 1000px;
    box-sizing: border-box;
    justify-content: space-between;
    margin-bottom: 25px;

}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;        
    font-size: 16px; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}

button:focus {
    outline: 3px solid #E8E2DB;
    outline-offset: 2px;
}

input {
    width: 48%;
    padding: 10px;
    box-sizing: border-box;
}

.results-wrapper {
    width: 1000px;
    text-align: left;
}

#change-due {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: red;
}

#output {
    min-height: 500px;
    line-height: 1.2;
    font-size: 18px;
    border: 3px;
}