@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');

body {
    background-color: #1A3263;
    color: #E8E2DB;
    font-family: 'Gelasio', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 15vh;
    min-height: 100vh;
    margin: 0;
}

.change-container {
    font-size: 2rem;
    margin-bottom: 20px;
}

.text-container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-bottom: 12px;

}

.input-container {
    display: flex;
    width: 1000px;
    box-sizing: border-box;
    justify-content: space-between;
    margin-bottom: 25px;

}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;        
    font-size: 16px; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}

button:focus {
    outline: 3px solid #E8E2DB;
    outline-offset: 2px;
}

input {
    width: 48%;
    padding: 10px;
    box-sizing: border-box;
}

#results-wrapper {
    display: none;
    width: 1000px;
    text-align: left;
    margin: 0 auto;
}

/* this is the error message */
#change-due {
  font-size: 20px;
  font-weight: bold;
  color: red;
  margin-bottom: 10px;
}

/* Change Due: $6.66" total line */
#total-output {
  font-size: 28px;
  font-weight: bold;
  color: #E8E2DB;
  border-bottom: 2px solid #E8E2DB;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

/* denomination label (dollars, quarters, etc) */
.coin-label {
  display: inline-block;
  width: 120px;
  font-size: 20px;
  font-weight: bold;
  color: #E8E2DB;
}

.coin-row p {
  margin: 2px;
  padding: 0;
}

.coin-row {
  display: flex;
  align-items: center;
  margin: 4px
}

/* number for denomination value */
.coin-value {
  font-size: 20px;
  color: #E8E2DB;
}